div.row
  div.col-xs-6
    a(href="/app/")
      img.logo.logo-xs(src="/images/logo_black.png")
  div.col-xs-6.text-right
    ul.menu
      li
        div.gravatar(dropdown).clearfix
          div.dropdown-toggle
            img(ng-src="{{user.gravatar}}")
            i.fa.fa-caret-down
          ul.dropdown-menu
            li
              a(href="/app/account")
                div
                  | {{user.username}}
                  div.small
                    | Your Account
            li
              a(href="/logout" target="_self")
                | Logout