div.row
  div.col-xs-6
    a(href="#/")
      img.logo.logo-xs(src="/images/logo_black.png")
  div.col-xs-6.text-right
    ul.menu
      li.hidden-xs
        a(href="#/friends")
          | Friends
      li.hidden-xs
        | &middot;
      li
        div.gravatar(dropdown).clearfix
          div.dropdown-toggle
            img(src="{{user.gravatar}}")
            i.fa.fa-caret-down
          ul.dropdown-menu
            li.visible-xs
              a(href="#/friends")
                | Friends
            li
              a(href="#/account")
                div
                  | {{user.username}}
                  div.small
                    | Your Account
            li
              a(href="#/connect")
                div
                  | Connections
                  div.small
                    | Your Connected Devices
            li
              a(href="/logout")
                | Logout