extends layout

block body
  div.container.frontpage
    div.text-right
      a.btn.btn-link(href="/login")
        | Login
    include ./flash
    div.frontpage-headline-box
      img.logo.logo-lg.img-responsive(src="/images/logo_black.png")
      h2
        | Get ready for a whole new reason to use your fitness tracker
    div.frontpage-register-box
      form(method="POST")
        input.input-lg(type="email", name="email" placeholder="Your email")
        button.btn.btn-primary.btn-lg(type="submit")
          | Notify Me
