doctype html
html
  head
    meta(http-equiv='Content-Type', context='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='')

    title
      | FitFuse

    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block body
    script(type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js")
    block scripts