doctype html
html
  head
    meta(http-equiv='Content-Type', context='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='')

    title
      | bout

    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Lato:300,400,700')
    link(rel='stylesheet', href='/build/styles.css')

  body
    block body
    block scripts
