extends ./layout

block body
  div.container
    div.row
      div.col-md-offset-4.col-md-4.box
        form.auth(method="POST")
          div.auth-input.auth-separator
            input.form-control(type="email", name="email", placeholder="Email")
          div.auth-input.auth-separator
            input.form-control(type="text", name="username", placeholder="Username")
          div.auth-input.auth-separator
            input.form-control(type="password", name="password", placeholder="Password")
          div.auth-input
            input.form-control(type="password", name="confirm_password", placeholder="Confirm Password")
          div
            div
              button.btn.btn-lg.btn-primary(type="submit")
                | Register