// @brand-primary: #34495E;
// @brand-success: #2ECC71;
// @brand-info: #3498DB;
// @brand-warning: #F1C40F;
// @brand-danger: #E74C3C;

@brand-primary: #313540;
@brand-success: #3EC3D5;
@brand-info: #FDE4AF;
@brand-warning: #FABA2D;
@brand-danger: #E9405A;

@font-family-sans-serif: "Lato", sans-serif;