html
  body
    div.logo.text-center
      img.logo.logo-sm(src=host+"/images/logo_black.png")
    block body
    div.footer
      | Sent to {{user.email}}
      br
      | Tired of these emails?
      | &nbsp;
      a
        | Unsubscribe
      br
      br
      span.copy
        | &copy; 2014 Shaped Health