div.section-header
  | The Manifesto
div.section-body.manifesto
  h3
    | Introduction
  p
    | The Shaped Health program is for people who are looking to make a lifestyle change and not just do another diet or exercise plan. Throughout the couse of the transformation, we will be providing you tools and education to help you make healthier lifestyle decisions. Think of it as a reprogramming, but for the better. And don't worry, we will be right by your side every step of the way.