div.section-header
  | Foods
div.section-body
  div.section-column.row
    div.col-md-12
      table.table
        thead
          th
            | Food
          th
            | Servings
          th
            | Calories
          th
            | Fats
          th
            | Carbs
          th
            | Protein
        tbody
          tr(ng-repeat="f in foods")
            td
              | {{f.name}}
            td
              small
                | {{f.serving_size}}
            td
              small
                | {{f.calories}} cals
            td
              small
                | {{f.fats}} g
            td
              small
                | {{f.carbs}} g
            td
              small
                | {{f.protein}} g