div.section-header
  | Leaderboard
div.section-body
  div.row
    canvas#chart
  br
  div.row
    table.table.table-bordered
      thead
        th
        th
          | Name
        th
          | Steps
      tbody
        tr(ng-repeat="(i,friend) in leaderboard", ng-class="{info: friend._id === user._id}")
          td
            strong
              | {{i+1}}
          td
            div
              div.gravatar
                img(src="{{friend.gravatar}}")
                | &nbsp;&nbsp;{{friend.username}}
                span.bold(ng-show="friend._id === user._id")
                  | &nbsp;(you)
          td
            | {{friend.steps | number}}