div.section-header
  | Your Activity
div.section-body
  br
  div.row.track
    div.col-sm-12.text-center
      span.track-status(ng-class='{on:on_track}')
        span(ng-show="on_track" tooltip="You are currently on track on beating your last week.")
          | On Track
        span(ng-show="!on_track" tooltip="You are currently off track on beating your last week.")
          | Off Track
  div.row
    canvas.hidden-xs.hidden-sm#chart
  div.section-column.row(ng-show="user.has_tracker && friends.length" ng-cloak)
    div.col-sm-6.cursor-pointer(ng-click="showLeaderboard('day')")
      div.panel.panel-primary.text-center.stats
        div.panel-heading
          | Today
        div.panel-body
          table
            tr
              td
                h1
                  small
                    | #
                  | {{stats.day.pos | number}}
                  small
                    |&nbsp;of {{stats.day.total}}
              td
                h3
                  | {{stats.day.steps | number}}
        div.panel-footer
          table
            tr
              td
                | Rank
              td
                | Steps
    div.col-sm-6.cursor-pointer(ng-click="showLeaderboard('week')")
      div.panel.panel-primary.text-center.stats
        div.panel-heading
          | Past 7 Days
        div.panel-body
          table
            tr
              td
                h1
                  small
                    | #
                  | {{stats.week.pos | number}}
                  small
                    |&nbsp;of {{stats.week.total}}
              td
                h3
                  | {{stats.week.steps | number}}
        div.panel-footer
          table
            tr
              td
                | Rank
              td
                | Steps
  div.section-column.row
    div.nextsteps(ng-show="!user.has_tracker || !friends.length" ng-cloak)
      div.nextsteps-header
        | Next Steps
      a(href="/devices" ng-class="{strikethrough:user.has_tracker}")
        div.nextsteps-step
          span
            | 1.
          | Add your fitness tracker
      a(href="/friends" ng-class="{strikethrough:friends.length}")
        div.nextsteps-step
          span
            | 2.
          | Make a friend