div.section-header
  | Your Activity
div.section-body
  div.section-column.row
    div.nextsteps(ng-show="!user.has_tracker")
      div.nextsteps-header
        | Next Steps
      a(href="#/connect")
        div.nextsteps-step
          span
            | 1.
          |  Add your fitness tracker
    div.col-sm-6.cursor-pointer(ng-click="showLeaderboard('day')")
      div.panel.panel-primary.text-center.stats
        div.panel-heading
          | Today
        div.panel-body
          table
            tr
              td
                h1
                  small
                    | #
                  | {{stats.day.pos | number}}
              td
                h3
                  | {{stats.day.steps | number}}
        div.panel-footer
          table
            tr
              td
                | Rank
              td
                | Steps
    div.col-sm-6.cursor-pointer(ng-click="showLeaderboard('week')")
      div.panel.panel-primary.text-center.stats
        div.panel-heading
          | Past 7 Days
        div.panel-body
          table
            tr
              td
                h1
                  small
                    | #
                  | {{stats.week.pos | number}}
              td
                h3
                  | {{stats.week.steps | number}}
        div.panel-footer
          table
            tr
              td
                | Rank
              td
                | Steps