div.modal-header
  h4.modal-title
    | Add Food To Log
div.modal-body
  form
    div.row
      div.col-md-6
        div.form-group
          label
            | Food
          h4.zero-margin-top
            | {{food.name}}
    div.row
      div.col-md-6
        div.form-group
          label
            | Serving Size
          div.row
            div.col-md-4
              input.form-control(type="text" value="1" ng-model="entry.serving_size")
            div.col-md-8
              select.form-control(ng-model="entry.serving_type")
                option(value="lb")
                  | pounds
                option(value="oz")
                  | ounces
                option(value="g")
                  | grams
    div.row
      div.col-md-8
        div.form-group.timepicker
          label
            | Eaten On
          div.row
            div.col-md-6
              input.form-control.timepicker-date(type="text" ng-model="entry.eaten_at_date" datepicker-popup="MM/dd/yyyy" show-button-bar="false" is-open="datePickerOpen" ng-focus="datePickerOpen = true" value="{{rightNow}}")
            div.col-md-6
              timepicker.timepicker-time(ng-model="entry.eaten_at_time" hour-step="1")
div.modal-footer
  button.btn.btn-primary(type="submit" ng-click="create()")
    | Add Entry