div.section-header
  | Foods
div.section-body
  div.section-column
    div.row

  div.section-column.row
    div.col-sm-4
      div.section-column-header
        | Your Foods
        div.small
          | Add foods that you normally eat here.
    div.col-sm-8
      div.row
        div.col-md-12
          table.table
            thead
              th
                | Food
              th
                | Servings
              th
                | Calories
              th
                | Fats
              th
                | Carbs
              th
                | Protein
              th
            tbody
              tr(ng-repeat="f in foods")
                td
                  | {{f.name}}
                td
                  small
                    | {{f.serving}}
                td
                  small
                    | {{f.calories}}
                td
                  small
                    | {{f.fats}} g
                td
                  small
                    | {{f.carbs}} g
                td
                  small
                    | {{f.protein}} g
                td
                  span.btn.btn-link(tooltip="Add this item to your food log")
                    i.fa.fa-plus(ng-click="openAddEntryModal(f)")
      br
      div
        a.btn.btn-primary(ng-click="openAddFoodModal()")
          | Add A Food