.stats {

  table {
    width: 100%;

    td {
      text-align: center;
      vertical-align: middle;
      width: 70%;

      &:first-child {
        width: 30%;
        border-right: 1px solid @gray-lighter;
      }
    }
  }

}